.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img {
    width: 500px;
    height: 500px;
    object-fit: contain;
  }
  &__texts {
    width: 45%;
    & h4 {
      font-size: 48px;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 20px;
    }
    & p {
      color: #737373;
      font-size: 30px;
      line-height: 39px;
    }
  }
}
