.about__me {
  background: url("../../../../assets/images/home/about_me/about_me_bg.png")
    lightgray 50% / cover no-repeat;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  & .content {
    width: 65%;
    & h2 {
      color: #fff;
      text-align: center;
      font-size: 48px;
      font-weight: 600;
      line-height: 48px;
    }
    & p {
      color: #fff;
      text-align: center;
      font-size: 38px;
      font-weight: 600;
      line-height: 38px;
      margin-top: 32px;
    }
  }
}
@media (max-width: 1200px) {
  .about__me {
    & .content {
      width: 100%;
    }
  }
}

@media (max-width: 993px) {
  .about__me {
    & .content {
      & h2 {
        font-size: 42px;
        line-height: 42px;
      }
      & p {
        font-size: 34px;
      }
    }
  }
}

@media (max-width: 768px) {
  .about__me {
    & .content {
      & h2 {
        font-size: 38px;
        line-height: 38px;
      }
      & p {
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 480px) {
  .about__me {
    & .content {
      & h2 {
        font-size: 30px;
        line-height: 38px;
      }
      & p {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}
