.card {
  padding: 48px 32px;
  border-radius: 10px;
  background: #000;
  display: flex;
  column-gap: 10px;
  &__texts {
    & h4 {
      color: #fff;
      font-size: 38px;
      font-weight: 600;
      line-height: 38px;
      margin-bottom: 10px;
    }
    & p {
      color: #fff;
      font-size: 24px;
      line-height: 28px;
    }
  }
}

@media (max-width: 480px) {
  .card {
    &__texts {
      & h4 {
        font-size: 30px;
      }
      & p {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
}
